<p id="notice"><%= notice %></p>

<h1>Dishes</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><% if dish.picture.attached? %>
        <%= image_tag dish.picture, size: 100 %>
        <% end %></td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.price %></td>
        <td><%= link_to 'Show', dish %></td>
      </tr>
    <% end %>
  </tbody>
</table>

