<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<% if @dish.picture.attached? %>
<%= image_tag @dish.picture, size: 100 %>
<% end %>


<%= link_to 'Back', dishes_path %>
