
<h1>Cart show</h1>
<ul>
  <% @cart.line_items.each do |line_item| %>
  <li>Item: <%= line_item.dish.name %>/ 
      Price: <%= number_to_currency(line_item.dish.price) %>/ 
      Quantity: <%= line_item.quantity %>/ 
      Total Price: <%= number_to_currency(line_item.total_price) %>
    <ul>
      <li>
        <%= link_to "Add one", line_item_add_path(:id => line_item), method: :post %>
        <%= link_to "Reduce one", line_item_reduce_path(:id => line_item), method: :post %>
      </li>
      <li>
        <%= link_to "Remove item", line_item_path(line_item), method: :delete %>
      </li>
    </ul>
    <% end %>
  </ul>
  
  <h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>

  <%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}








