<p id="notice"><%= notice %></p>


<p>
<% if @restaurant.picture.attached? %>
<%= image_tag @restaurant.picture, size: 100 %>
<% end %>        
</p>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>
<p> Блюда </p>
<div class="flex-parent">

<% @restaurant.dishes.each do |dish| %>
    <%= image_tag dish.picture, size: 100 %> 
    <%= dish.name %> </br>
    <%= dish.description %></br>
    <%= dish.price %> </br>
    <%= button_to "Add to cart", line_items_path(dish.id) %>
    
  <%end%>
</div>

<%= link_to 'Back', restaurants_path %>